*{
	box-sizing: border-box;
	margin:0;
	font-family: 'Dosis', sans-serif;
}
body{
    animation: transition 0.4s;
}
.abt{
    font-size: 60px;
    color:white;
    text-align: center;
    padding: 150px;
    
}
.both1{
    background-attachment: fixed;
    background-image:url("Untitled-1.jpg");
    background-position: center;
}
.ul1{

	width:100%; 
	padding:0px 0px;	
	text-align: center;
}
.li1{
	display:inline-block;
	color:white;
	padding:10px 30px 10px 30px; 	
	font-size: 17px;
}
.li1:hover
{
	background-color: rgba(52,52,52,0.90);
}
.last_li
{
	border-style:none;
}
.sec2
{
	margin-top:0px;
	background-color: rgba(52,52,52,0.75);

}
.list{
	text-decoration:none; 
	font-family: 'Dosis', sans-serif; 
	color: white;
}

footer
 {
	font-size: 30px;
	text-align: center;

}
footer i{
    color:black;
    margin-top: calc(10vh - 15vh);
    margin-right: 20px;
    margin-bottom: 100px;
    cursor: pointer;
    
}

.container
{
	display: flex;
	padding: 60px 40px;
}
.section
{
	background: #3c3f3c;
	margin:20px;
	padding:20px;
	color: white;
	padding-bottom: 40px;
}
.section .heading
{    padding: 10px;
    margin: 10px;
    display: inline-block;
    margin-bottom: 25px;
    background: #0084f7;
    font-weight: 300;
    margin-left: -20px;
    padding-left: 30px;
    padding-right: 30px;
}
.section p
{
	margin: 5px;
}

@keyframes transition{
	from{
		opacity: 0;
	}
	to{
		opacity:1;
	}
}
